.waves {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 93px;
}

.waves.shape-fill {
    fill: #254E58;
}


.supercontenedor{
    width:80%;
	position:relative;
	display: block;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}


.megacontenedor{
    height:40%;
	width: 100%;
	position:relative;
	display: block;
}
