.custom-shape-divider-top-1635596314 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635596314 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1635596314 .shape-fill {
    fill: #254E58;
}


.supercontenedor{
    width:80%;
	height:40%;
	position:relative;
	display: inline-block;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}


.megacontenedor{
    height:40%;
	width: 100%;
	position:relative;
	display: block;
}